<h1>User info</h1>
<table>
 <tr><th><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></th>
 <td></td></tr>
 <tr><th>name</th>
 <td><%= @user.name %></td></tr>
 <tr><th>introduction</th>
 <td><%= @user.introduction %></td></tr>
 </table>
 <%= link_to  edit_user_path(current_user.id), method: :get do %>
  <i class="fas fa-user-cog"></i>
 <% end %>

<h1>New book</h1>
<%= form_with model: @book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_field :opinion %>
   <%= f.submit 'Create Book' %>
<% end %>

<div class="post-body">
  <h2>Book detail</h2>
  <table>
  <tr>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
  </tr>
  <tr>
  <td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
  <td><%= link_to @book.user.name, user_path(@book.user) %></td>
  <td><%= @book.title %></td>
  <td><%= @book.opinion %></td>
  <% if @book.user == current_user %>
  <td><%= link_to "Edit", edit_book_path(@book) %></td>
  <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
  <% end %>
  </tr>
  </table></div>